@property --gradientColorOne {
    syntax: '<color>';
    initial-value: #00f260;
    inherits: false;
  }

  @property --gradientColorTwo {
    syntax: '<color>';
    initial-value: #0575e6;
    inherits: false;
  }

.app_button {
    padding: 5px 10px;
    min-width: 200px;
    max-width: 400px;
    height: 40px;
    background: #92f200;
    background: linear-gradient(to right, var(--gradientColorOne), var(--gradientColorTwo));
    border-radius: 10px;
    border: none;
    transition: --gradientColorTwo 0.5s, --gradientColorOne 0.5s;
    cursor: pointer;
}

.app_button:hover {
    --gradientColorOne: #fffb00;
    --gradientColorTwo: #92f200;
    transition: --gradientColorTwo 0.5s, --gradientColorOne 0.5s;
}