.header {
    background: #FFF;
}

.header_wrapper {
    display: flex;
    align-items: center;
    height: 90px;
}

.logo {
    width: 80px;
    height: 80px;
    background: center / contain no-repeat url("./logo.webp");
}

.logo:hover {
    transform: rotate(360deg);
    transition: transform 1s ease;
}

.logo_wrapper {
    margin: 0 auto 0 0;
    display: inline-block;
}