#root {
  --basegreen: #92f200;
  --baseblue: #0575e6;
  --baseyellow: #fffb00;

  text-align: center;
  font: 400 20px/110% "Chivo Mono", monospace;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 10px;
}

